{% extends 'base.html' %}

{% block main %}
    <div class="container property-container">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="property-image">
                        <img src="{{ url_for('uploaded_file', filename=property.photo.split(',')[0].replace('\\', '/')) }}" class="card-img" alt="Property Photo">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body property-info">
                        <h1 class="property-title">{{ property.title }}</h1>
                        <div class="price-type">
                            <span class="price-badge">$ {{ "{:,.0f}".format(property.price) }}</span>
                            <span class="type-badge">{{ property.type }}</span>
                        </div>
                        <p class="property-description">{{ property.description }}</p>
                        <div class="bed-bath">
                            <span class="bedroom"><i class="fas fa-bed"></i> {{ property.bedrooms }} Bedrooms </span>
                            <spank class="bathroom"><i class="fas fa-bath"></i> {{ property.bathrooms }} Bathrooms</span>
                        </div>
                        <p class="property-address"><strong>Address:</strong> {{ property.address }}</p>
                        <a href="#" class="btn btn-primary contact-btn mt-3">Email Realtor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
